/* max width 320 */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  /* background-color: blue; */
}

.footer-mint {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: 80%;
  /* background-color: red; */
  flex-direction: column;
}

.footer-mint > span {
  text-align: center;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
}

.icons-socials {
  height: 2em;
  width: 2em;
  color: #bbafa9;
}
.icons-socials:hover{
    color: black;
}

.copyright-container {
  height: 40%;
  font-size: 0.6em;
  display: flex;
  align-items: flex-end;
  /* background-color: red; */
}

.copyright-text {
  /* background-color: green; */
  height: 40%;
}

/* IPHONE XR */

@media (min-width: 414px) {
  .footer-mint > span {
    font-size: 1.3em;
  }
  .copyright-text {
    font-size: 1.6em;
  }
}

/* IPHONE 12 PRO */
@media (min-width: 390px) {

  .footer-mint > span {
    font-size: 1.2em;
  }  
  .copyright-text {
    font-size: 1.4em;
  }
}

/* IPAD MINI  */

@media (min-width:768px) {
    .footer-mint > span {
        font-size: 1.7em
    }
    .copyright-text{
        font-size: 2em;
    }
    .icons-socials {
        height: 3em;
        width: 3em;
      }
}
/* IPAD AIR */

@media (min-width:820px) {
    .footer-mint > span {
        font-size: 1.8em;
      }  

      .copyright-text {
        font-size: 1.8em;
      }
      .icons-socials {
        height: 3em;
        width: 3em;
      }
}

/* PC  */

@media (min-width:1024px) {
    .footer-mint > span {
        font-size: 1.2em;
    }
    .icons-socials{
        height: 3em;
        width: 3em;
    }
    .copyright-text {
        font-size: 1.2em;
    }
}

@media (min-width:1200px) {
    .footer-mint > span {
        font-size: 1.4em;
    }
    .icons-socials {
        height: 4em;
        width: 4em;
    }
    .copyright-text{
        font-size: 1.4em;
    }
}

@media (min-width:1600px) {
    .footer-mint > span {
        font-size: 1.5em;
    }
    .icons-socials{
     font-size: 1.1em;   
    }
    .footer-mint{
        width: 40%;
    }
    .copyright-text{
        font-size: 1.5em;
    }
}

@media (min-width:1800px) {
  footer{
    height: 20vh;
  }
  .footer-mint {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 80%;
    /* background-color: red; */
    flex-direction: column;
  }
    .footer-mint > span {
        font-size: 1.6em;
    }
    .icons-socials{
        height: 3.5em;
        width: 3.5em;
    }
    .footer-mint{
        width: 45%;
    }
    .copyright-text{
        font-size: 1.5em;
    }
}

@media (min-width:2560px) {
    footer{
      height: 22vh;
      justify-content: space-between;
    }
    .footer-mint {
      display: flex;
      justify-content: space-between;
      width: 30%;
      height: 55%;
      flex-direction: column;
    }
    .copyright-container {
      height: 40%;
      font-size: 0.6em;
      display: flex;
      align-items: flex-end;
    }
    .copyright-text{
        font-size: 1.8em;
    }
}

