/* max-width 320 */

@font-face {
  font-family: Imported;
  src: url("../fonts/KingsCaslon-Italic.ttf");
}

.page-mint{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.page-container {
  height: 55vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-bis{
  height: 80%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.landing-page-container{
  height: 10%;
  font-size: 1.8em;
  font-family: Imported;
}

.textbloc {
  display: block;
  justify-content: center;
  height: auto;
  width: 100vw;
  text-align: center;
}

.christmas-raffle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
}

.mintpage-container{
  height: 70%;
  display: flex;
  align-items: center;
  
}

/* IPHONE XR */

@media (min-width:414px) {
  .landing-page-container{
    font-size: 2.2em;
  }
}

/* IPHONE 12 PRO */

@media (min-width:390px) {
  .landing-page-container{
    font-size: 2.2em;
  }
}

/* IPAD MINI */

@media (min-width: 768px) {
  .landing-page-container {
    font-size: 3.8em;
  }

}
/* IPAD AIR */

@media (min-width:820px) {
  .landing-page-container{
    font-size:3.5em;
  }
}

/* PC */

@media (min-width:1000px) and (min-height:700px) and (max-width:1800px) and (max-height:1000px){
  .page-container{
    height: 65vh;
  }
}

/* Mac and special sizes */
@media (min-width:600px) and (min-height:400px) and (max-width:1470px) and (max-height:850px)
{
  .landing-page-container{
    font-size: 3.2em!important;
    /* background-color: green; */
    height: 30%;
  }
  .mintpage-container{
    height: 85%;
  }
 .page-container{
  height: 65vh;
 }
 .container-bis{
  height: 90% !important;
  /* background-color: red!important; */
 }
}

@media (min-width:1200px) and (min-height:400px) and (max-width:1470px) and (max-height:750px) 
{
  
}

@media (min-width:1200px) {
  .landing-page-container{
    font-size: 5em;
  }
}

@media (min-width:1800px) {
  .landing-page-container{
    font-size: 5em;
  }
  .page-container {
    height: 65vh;
  }
}

@media (min-width:2560px) {
  .page-container {
    height: 55vh;
  }
}