/* max-width 320 */

@font-face {
  font-family: Imported;
  src: url("../fonts/KingsCaslon-Italic.ttf");
}

.page-mint{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.page-container {
  height: 55vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.container-bis{
  /* background-color: green; */
  height: 80%; 
  /* A modifier pour espace entre Chrstmas et l'interface*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.landing-page-container{
  /* background-color: orange; */
  height: 10%;
  font-size: 1.8em;
  font-family: Imported;
}

.textbloc {
  display: block;
  justify-content: center;
  height: auto;
  width: 100vw;
  text-align: center;
}

.christmas-raffle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
}

.mintpage-container{
  /* background-color: yellow; */
  height: 70%;
  display: flex;
  align-items: center;
  
}

/* IPHONE XR */

@media (min-width:414px) {
  .landing-page-container{
    font-size: 2.2em;
  }
}

/* IPHONE 12 PRO */

@media (min-width:390px) {
  .landing-page-container{
    font-size: 2.2em;
  }
}

/* IPAD MINI */

@media (min-width: 768px) {
  .landing-page-container {
    font-size: 3.8em;
  }

}
/* IPAD AIR */

@media (min-width:820px) {
  .landing-page-container{
    font-size:3.5em;
  }
}

/* PC */

@media (min-width:1200px) {
  .landing-page-container{
    font-size: 5em;
  }
}

@media (min-width:1800px) {
  .landing-page-container{
    font-size: 7em;
  }
}

@media (min-width:1920px) {
  .landing-page-container{
    font-size: 9em;
  }
}