@font-face {
  font-family: Imported;
  src: url("../../fonts/KingsCaslon-Italic.ttf");
}

/* .landing-page-container{
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: white;
    font-weight: normal;
}; */

.textbloc {
  display: block;
  justify-content: center;
  height: auto;
  width: 100vw;
  text-align: center;
}

.christmas-raffle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  font-size: 2.5em;
  font-family: Imported;
  /* background-color: blue; */
}

/* ---------------------------------- */
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  text-align: center;
  outline: 0;
  box-shadow: none;
  background-image: none;
  border: 0 !important;
  width: 15vw;
  padding: 2.5%;
  border-radius: 6px;
  background-color: #e6dcd6;
} */

/* ------------------------------- */

/* select::-ms-expand {
  display: none;
}
.select-mint::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
} */