/* Mobile max-width 320 */
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    max-width: 100vw;
    background-color: #bbafa9;
    /* background-color: green; */
}

.logo-lux {
    height: 8em;
    width: 8em;
    transform: translateY(6px); /* A modifier en responsive*/
}

/* IPAD MINI */

@media (min-width: 768px) {
    .logo-lux{
        height: 15em;
        width: 15em;
        transform: translateY(12px);
    }
}
/* IPAD AIR  */
@media (min-width:820px) {
    .logo-lux{
        height: 15em;
        width: 15em;
        transform: translateY(12px);
    }
}

/* PC */

@media (min-width:1800px) {
    .logo-lux{
        height: 20em;
        width: 20em;
        transform: translatey(18px);
    }
}
